.col-xs-12.col-sm-7 {
    margin: 10px;
}

.btn.btn-outline-success.my-2.my-sm-0 {
    color: green;
    margin: 5px;
    background-color: white;
    border-color: green;
}

.scrollbar.scrollbar-primary {
    margin-left: 5px;
    float: left;
    height: 300px;
    width: 450px;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 10px;
}
